@import url(bootstrap.min.css);

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background: #F8BBD0;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-indicators li {
  background-color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

.carousel-indicators .active {
  background-color: #000000;
  text-shadow: none;
}

.carousel-caption {
  color: #000000;
  font-size: 14px;
  text-shadow: none;
}

#habgm0 {
  max-height: 500px;
  padding-bottom: 140px;
}

#bbb3 {
  max-height: 500px;
  padding-bottom: 140px;
}

#ee16aShirt {
  max-height: 500px;
  padding-bottom: 140px;
}

#missionShirt {
  max-height: 500px;
  padding-bottom: 140px;
}

#potatoes {
  max-height: 500px;
  padding-bottom: 140px;
}

#honeycombs {
  max-height: 500px;
  padding-bottom: 140px;
}

#beehive {
  max-height: 500px;
  padding-bottom: 140px;
}

#yangRWBY {
  max-height: 500px;
  padding-bottom: 140px;
}

#sapling {
  max-height: 500px;
  padding-bottom: 140px;
}

#thanksgiving {
  max-height: 500px;
  padding-bottom: 140px;
}

#crypto {
  max-height: 500px;
  padding-bottom: 140px;
}

#badhax {
  max-height: 500px;
  padding-bottom: 140px;
}
