@import url(bootstrap.min.css);

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background: #ffcccc;
}

.carousel-inner > .item > img {
  max-height: 500px;
  padding-bottom: 120px;
  padding-top: 10px;
  margin-top: 10px;
  margin: 0 auto;
}

.carousel-indicators li {
  background-color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

.carousel-indicators .active {
  background-color: #000000;
  text-shadow: none;
}

.carousel-caption {
  color: #000000;
  font-size: 14px;
  text-shadow: none;
}

#carousel-design-port {
  margin-top: -30px;
}

#itsme {
  margin-top: 15px;
  margin-left: 20px;
}

#myDescription {
  padding-top: 25px;
}
