@import url(bootstrap.min.css);

/* Move down content because we have a fixed navbar that is 50px tall */
/* body {
  padding-top: 50px;
  padding-bottom: 20px;
} */

.jumbotron {
  background: #FFFFFF;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  padding: 0px;
}

#itsme {
  width: 250px;
  height: 250px;
  margin-top: 15px;
  /* margin-left: -10px; */
}

#myDescription {
  padding-top: 15px;
}
